<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/app.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js"></script>

</head>

<body>
    <div class="ui inverted menu">
        <div class="class=" ui container ">
            <a class="active item " href="/ ">
                <i class="code icon "></i>
                Blog Site
              </a>
         </div>
        <a class="item " href="/blogs "> Home</a>
        <a class="item " href="/blogs/new "> New post</a></div>