<%- include("partials/header") %>
    <div class="container-fluid">
        <form method="post" action="/campgrounds">

            <label>name</label>
            <input type="text" placeholder="name" name="name">
            <label>image</label>
            <input type="text" placeholder="image url" name="image">
            <button class="btn btn-primary btn-lg">Submit</button>

        </form>

    </div>
    <%- include("partials/footer") %>