<%- include("partials/header")%>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="test1">
                    <h1>Create New Campground</h1>
                    <form method="post " action="/campgrounds ">
                        <input class="form-control " type="text " placeholder="name " name="name ">
                        <input type="text " class="form-control " placeholder="image url " name="image ">
                        <button class="btn btn-primary btn-lg ">Submit</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
    <%- include("partials/footer") %>