/* campground/index.ejs page styling  */

.indexcontainer {
    margin-bottom: 30px;
}

.indeximage {
    padding: 0px;
    height: auto;
}

.indextitle {
    padding: 9px;
}

.indexdesc {
    padding: 10px;
    text-align: center;
    width: auto;
}

.row {
    padding-left: 100px;
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

#column {
    margin-top: 100px;
}

img {
    /* width: 100px; */
    height: 250px;
}

.navbar {
    margin-top: -11px;
    margin-bottom: 11px;
}

body {
    padding: 0px;
}


/* campgrounds show.ejs file  */

.imgsize {
    background-size: cover;
    width: 100%;
    height: 680px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
}

.price {
    padding-right: 20px;
    font-size: 25px;
}

.main {
    padding: 0px;
    margin-left: 0px;
    margin-right: 25px;
    margin-top: 20px;
}

.comment {
    margin-top: 20px;
}

.comment1 {
    margin-top: 10px;
    padding: 10px;
}

body {
    margin-top: 20px;
}

.img-thumbnail {
    padding: 0px;
}

.showcol1 {
    padding-left: 0px;
    padding-right: 9px;
}

.show2 {
    padding: 0px;
    border-radius: 20px;
}

.showdesc {
    text-align: left;
    padding-left: 12px;
    padding-right: 6px;
}

.show-comment {
    margin-top: 30px;
}

.showrow {
    padding-left: 0px;
}


/* 
.comment-wrapper .panel-bodymargin-top: 30px; {
    max-height: 650px;
    overflow: auto;
}

.comment-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
} */