/* body {
    background-color: black;
    color: aliceblue;
} */

i.icon {
    font-size: 2em;
    padding: 3px;
    margin-right: 4px;
}

.container.segment {
    margin-top: 9.0em;
}


/* 
ui.header {
    text-align: center;
} */

h2.ui.header {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: blueviolet;
    font-size: 50px;
}