<h1>hello world
    <%=thingvar%>
</h1>
<!-- /*
<%=  %> where u have to write js code and print it in too html page // */
    <%    %> this type use to write js code and wont print anything to html page mostly used on condition and loops // -->
<% if(thingvar.toLowerCase()==="gokul" ){%>
    <p>i am gokul</p>

    <% }else { %>
        <p>i am not gokul</p>
        <% } %>
            <p>oh my god</p>