<%- include("partials/header") %>
    <div class="row">

        <div class="container">
            <h1 style="text-align: center;">create a new campground</h1>
            <div style="width: 30%; margin: 0 auto;">
                <form method="POST" action="/campgrounds">

                    <input type="text" class="form-control form-group" placeholder="name" name="name">


                    <input type="text" class="form-control form-group" placeholder="image url" name="image">



                    <button style="margin-bottom: 20px;" type="button form-group" class="btn btn-primary btn-lg btn-block">submit</button>


                </form>
                <a style="margin-top: 10px;" href="/campgrounds">GO BACK</a>




            </div>

        </div>
    </div>











    <!-- 
    <form method="POST" action="/campgrounds">
        <input type="text" name=name>
        <input type="text" name=image>
        <button>submit</button>

    </form> -->

    <%- include("partials/footer") %>