<h1>result page </h1>
<% data["Search"].forEach(function (movie) {  %>

    <li>
        <strong><%= movie["Title"] %> = <%=movie["Year"]  %> </strong>

    </li>

    <%})%>
        <a href="/">search again</a>