.row {
    padding-left: 100px;
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

#column {
    margin-top: 100px;
}

img {
    /* width: 100px; */
    height: 250px;
}

.card {
    height: 440px;
    width: 400px;
}

.navbar {
    margin-top: -11px;
    margin-bottom: 11px;
}

body {
    padding: 0px;
}